.preview {
    margin-left: 50px;
    width: 250px;
    height: 380px;
    border-radius: 2em;
}

.copy {
    margin-top: 220px;
    padding-top: 10px;
    width: 230px;
    padding-right: 14px;
    height: 144px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2em;
    border: 3px solid var(--border-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.copy button {
    background-color: var(--copybtn-color);
    margin-top: 5px;
    margin-left: 15px;
    font-size: 13px;
    font-family: monospace;
    color: var(--text-color);
    border: none;
    border-radius: 2em;
    transition: 
        filter 0.5s ease-in-out,
        color 0.5s ease-in-out;
    flex: 0 0 20px;
}

.copy button:hover {
    border-color: var(--border-color);
    filter: drop-shadow(0 0 1em rgba(0, 0, 0, 0.5));
  }

