.title-bar {
    display: flex;
    position: absolute;
    top: 0px;
    align-items: center;
    width: 500px;
    justify-content: left;
    padding: 10px;
    background-color: rgba(50, 50, 50, 0.3);
    backdrop-filter: blur(5px);
    gap: 10px;
    margin: 10px 30vw;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1em;
}

.logo {
    display: inline-block;
    width: 100px;
    font-weight: 700;
    font-size: 20px;
}

.txt_r, .txt_g {
    transition: 
        filter 0.5s ease-in-out,
        color 0.5s ease-in-out;
}

.txt_r {
    color: rgb(255, 79, 79);
}

.txt_g {
    color: rgb(63, 255, 63);
}

.txt_b {
    color: rgb(143, 143, 255);
}

.rgb {
    display: inline-block;
    font-weight: 600;
    font-size: 19px;
}

.logo:hover .txt_r, .rgb:hover .txt_r {
    filter: drop-shadow(0 0 0.5em rgba(255, 42, 42, 0.7));
}

.logo:hover .txt_g, .rgb:hover .txt_g {
    filter: drop-shadow(0 0 0.5em rgba(77, 255, 42, 0.7));
}

.rgb:hover .txt_b {
    filter: drop-shadow(0 0 0.5em rgba(75, 153, 255, 0.7));
}